@tailwind base;
@tailwind components;
@tailwind utilities;

.videoSection{
  min-height: 100vh;
  max-height: 100vh;
  /* background: #000; */
  overflow-x: hidden !important;
}
.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Optional: if you want the video to be in the background */
}

.bgPic{
  background-image: url(../public/bg1.jpg);
}

.bgPic2{
  background-image: url(../public/bg2.jpg);
}